body {
  background: #b1b9cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #524b47;
}

.descriprion {
  padding: 25px 140px;
  background: #cec5bc;
  text-align: center;
  color: #524b47;
  border: #9a8f89 double 2px;
  border-radius: 5px;
}

.back {
  padding: 10px 10px;
  margin: 5px;
  background: #af9e8e;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e6eaed;
}

.back:hover,
a:hover {
  color: #cec5bc;
  background: #9a8f89;
}
