<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
  </head>
  <body>
    <h1>Веб-застосунок погоди</h1>
    <section>
      <div class="city"><a href="/weather/Kyiv">Київ</a></div>
      <div class="city"><a href="/weather/Dnipro">Дніпро</a></div>
      <div class="city"><a href="/weather/Lviv">Львів</a></div>
      <div class="city"><a href="/weather/Odesa">Одеса</a></div>
      <div class="city">
        <a href="/weather/Ivano-Frankivsk">Івано-Франківськ</a>
      </div>
      <div class="city"><a href="/weather/Kharkiv">Харьків</a></div>
      <div class="city"><a href="/weather/Mykolayiv">Миколаїв</a></div>
      <div class="city"><a href="/weather/Kherson">Херсон</a></div>
      <div class="city">
        <a href="/weather/?location=true">Моє місцезнаходження</a>
      </div>
    </section>
  </body>
</html>
